.btn {
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;

  .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #fff;
  }
}
