<div class="section-wrapper">
  <section class="section-body">
    <div class="header">
      <p class="title">Media</p>
    </div>
    <div class="content">
      <div class="wrap">
        <img src="assets/jpeg/achild1.jpeg" alt="kids in class" />
      </div>
      <div class="wrap">
        <img src="assets/svg/kids2.svg" alt="kids smiling" />
      </div>
      <div class="wrap">
        <img src="assets/svg/kids5.svg" alt="kids learning" />
      </div>
      <div class="wrap">
        <img src="assets/jpeg/achild2.jpeg" alt="kids studying" />
      </div>
    </div>
  </section>
</div>
