<div class="section-wrapper">
  <section
    class="join"
    [ngStyle]="{ padding: isMobile ? '0px 20px' : '0px 10px' }"
  >
    <div class="img-wrapper">
      <img src="assets/svg/child.svg" alt="child frowning" />
    </div>
    <div class="details">
      <div class="title">JOIN THE CAMPAIGN</div>
      <div class="subtitle">
        Service to others is rent for <br *ngIf="!isMobile" />
        your room on earth
      </div>
      <div class="texts">
        The Torain Charity Foundation seeks to assist the most vulnerable in communities
        through investments in malaria treatment&comma; food security&comma; and
        education&period; Donations will be used to provide essential
        services&comma; and donors can choose between one&hyphen;time or
        recurring donations via a secure online form&period; A success story of
        a young girl named Amina who returned to school with the
        foundation&apos;s assistance is shared to encourage donors&period; The
        foundation is grateful for all donations and encourages social sharing
        to expand their reach and impact&period;
      </div>
      <app-button
        [props]="{
              color: '#1E1E1E',
              font: isMobile ? '400 20px Roboto' : '700 40px Roboto',
              width: isMobile ? '100%' : 'auto',
              border: '0px',
              bgColor: '#FF6A15',
              borderRadius: '20px',
              padding: isMobile ? '15px 37px' : '22px 97px',
            }"
        >Donate to Campaign</app-button
      >
    </div>
  </section>
  <section class="account">
    <div class="wrapper">
      <div class="contact">
        <p>Email:</p>
        <p>inquiry@toraincharityfoundation.org</p>
      </div>
      <div class="contact"><p>Phone: 0903837378838</p></div>
      <div class="card">
        <img src="assets/svg/card.svg" alt="atm card" />
        <div class="no">
          <p>ACCOUNT NO</p>
          <p>9055509467</p>
        </div>
        <div class="details">
          <div class="texts">
            <p>Torain Charity Foundation</p>
            <p>A Bank</p>
          </div>
          <img
            src="assets/svg/mastercard.svg"
            alt="atm master card icon"
            [ngStyle]="{ width: isMobile ? '100px' : 'auto' }"
          />
        </div>
      </div>
    </div>
  </section>
</div>
