<div class="section-wrapper">
  <section class="know">
    <div class="img-wrapper">
      <img src="assets/jpeg/team-new.jpeg" alt="people sitting and talking" />
    </div>
    <div class="details">
      <div class="title">GET TO KNOW US</div>
      <div class="subtitle">
        Service to others is rent for <br *ngIf="!isMobile" />
        your room on earth
      </div>
      <div class="texts">
        Torain Charity Foundation was set up in November 2019&period; It was set
        up out of the burning desire to help the most vulnerable people in our
        communities&period; It is our genuine belief that corporations should
        give back to the society that accommodate and support them&period; It
        burns our hearts to see people hungry&comma; not being able to take care
        of their Children&apos;s educational needs or treat malaria which is
        endemic in our societies.&period;This is why we took it upon ourselves
        at Torain Charity Foundation to help as much as we can to alleviate the
        pain and sufferings of the most vulnerable persons in our communities by
        investing in malaria treatment&comma; food security and education
        promotion
      </div>
    </div>
  </section>
  <section class="meet">
    <div class="header">
      <div class="title">Meet the team</div>
      <div class="subtitle">Unselfish love of one&apos;s fellow men</div>
    </div>
    <div class="content">
      <div class="img-wrapper">
        <img src="assets/jpeg/chairman.jpeg" alt="man sitting" width="500" />
        <img
          src="assets/svg/ellipse.svg"
          alt="icon of an ellipse"
          class="ellipse"
        />
        <img src="assets/svg/cube.svg" alt="icon of a cube" class="cube" />
        <img
          src="assets/svg/circles.svg"
          alt="icon of many circles"
          class="circle"
        />
        <p class="img-text">CHAIRMAN</p>
      </div>
      <div class="texts">
        Charles Ihenacho is a Pharmacist by profession&period; He is a research
        scientist with several medicinal formulations that are widely used today
        in Nigeria and beyond in the treatment of Malaria&comma;
        Fertility&comma; Cancer management&comma; Diabetes&comma; etc&period; He
        is also a successful business man and is the Founder and Chief Executive
        Officer of Torain International&period; He is a humanitarian at heart
        and is a proponent of Corporate Social Responsibility as a way of
        organizations giving back to communities that accommodate them&period;
        He is the main financier of a Non Governmental Organization called Girl
        Child Foundation which supports the advancement of the girl child
        developement&period; He is married and has three beautiful girls&period;
      </div>
    </div>
    <div class="content_2">
      <div class="img-wrapper">
        <img src="assets/jpeg/chairwoman.jpeg" alt="woman smiling" />
        <img
          src="assets/svg/ellipse.svg"
          alt="icon of an ellipse"
          class="ellipse"
        />
        <img src="assets/svg/cube.svg" alt="icon of a cube" class="cube" />
        <img
          src="assets/svg/circles.svg"
          alt="icon of many circles"
          class="circle"
        />
        <p class="img-text">VICE CHAIRPERSON</p>
      </div>
      <div class="texts">
        Tinuola Ruth Ihenacho is the vice chairperson of Torain intentional and
        the Executive Dire ctor in charge of the day to day operations of Torain
        Foundation&period; She is an Economist by profession and has deep
        knowledge of the corporate finance and management industry&period; She
        worked in several banks in Nigeria and has also worked in other sectors
        like hospitality and healthcare&period; She is one of the founding
        members of the Girl Child Foundation and is a strong advocate of the
        girl child&apos;s right to live and prosper in all works of life&period;
        She is married and has three beautiful girls
      </div>
    </div>
  </section>
</div>
