<div class="section-wrapper">
  <div class="max">
    <section class="vision">
      <h2 class="section-header">Our Vision</h2>
      <div class="section-body">
        <p>
          Our vision is to improve the quality of living standards in our
          societies&comma; eradicate malaria and other communicable diseases and
          enable less privileged children to have access to education and good
          educational materials&period;
        </p>
        <div class="img-wrapper">
          <img src="assets/jpeg/achild1.jpeg" alt="kids studying" />
        </div>
      </div>
    </section>
    <section class="mission">
      <h2 class="section-header">Our Mission</h2>
      <div class="section-body">
        <p>
          Our mission is to eradicate poor standard of living conditions&comma;
          access to quality Educational materials and health product to
          eradicate malaria and boost inmmune system amongst the most
          vulnerables persons in our society&period;
        </p>
        <div class="img-wrapper">
          <img src="assets/jpeg/drug.jpeg" alt="water colors" />
        </div>
      </div>
    </section>
    <section class="we-do" [ngStyle]="{ height: isMobile ? 'auto' : '487px' }">
      <div class="wrapper">
        <p>WHAT WE DO</p>
        <p class="quote">
          Service to others is the rent you pay for <br />
          your room here on earth." - Muhammad <br />
          Ali
        </p>
        <div class="kids">
          <p>
            Torain Charity Foundation is a charity organization that directly supports
            vulnerable communities&comma; with a focus on rural areas&period; We
            distribute food&comma; educational materials,&comma; and health
            products to improve living standards and empower individuals of all
            ages&period;
          </p>
          <div class="img-kids">
            <img src="assets/svg/kids.svg" alt="smiling children" />
          </div>
        </div>
      </div>
      <div class="twirl_1">
        <img src="assets/svg/twirl1.svg" alt="twirling design" />
      </div>
      <div class="twirl_2">
        <img src="assets/svg/twirl2.svg" alt="smaller twirling design" />
      </div>
    </section>
    <section class="why">
      <h2 class="section-header">Why We Do What We Do</h2>
      <div class="section-body">
        <div class="img-wrapper">
          <img
            src="assets/svg/kids2.svg"
            alt="Kids peering out a window and smiling"
          />
          <img
            src="assets/svg/kids3.svg"
            alt="Kids looking and smiling"
            class="mini-img"
            *ngIf="!isMobile"
          />
        </div>
        <div class="text">
          <p>
            Our core value at Torain <br *ngIf="!isMobile" />
            foundation is to be known humanists and to live a life filled with
            empathy&comma; love&comma; passion and support for every human in
            our societies irrespective of ethnicity&comma; religion&comma;
            gender and age&period;
          </p>
          <div class="line"></div>
        </div>
      </div>
    </section>
    <section class="who">
      <h2 class="section-header">Who We Are</h2>
      <div class="section-body">
        <div class="img-wrapper">
          <img src="assets/jpeg/achild2.jpeg" alt="Kids in class" />
          <img
            src="assets/svg/kids5.svg"
            alt="Kids studying in class"
            class="mini-img"
            *ngIf="!isMobile"
          />
        </div>
        <div class="text">
          <p>
            Torain Charity Foundation was born out of a deep desire to help those who
            are most vulnerable in our communities&period; We believe that
            it&apos;s our responsibility to give back to the society that
            supports us&period; Through investments in malaria treatment&comma;
            food security&comma; and education&comma; we strive to make a
            difference in the lives of those who need it most&period; Join us in
            our mission to alleviate the pain and suffering of those in
            need&period;
          </p>
          <div class="line"></div>
        </div>
      </div>
    </section>
  </div>
</div>
